@model DoAnCoSo.Models.tbNoiDung

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>tbNoiDung</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoiDungThi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NoiDungThi)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayNameFor(model => model.TenNoiDung)
        </dd>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenNoiDung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.imageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.imageUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

