@model IEnumerable<DoAnCoSo.Models.tbQuyDinh>



<p>
    <h1>Quy Định
    <a asp-action="Create">Create New</a>
    </h1>
</p>

<script>
    function redirectToDetails(Id) {
        window.location.href = "/Admin/QuyDinhs/Details/" + Id;
    }
</script>

<style>
    .container {
        display: flex;
        justify-content: center; 
    }
    h1{
        text-align: center;
    }

    .row{
        display: flex;
        flex-wrap: wrap;
        border: 0.1vw solid #ffffff;
        width: 80vw;
    }
</style>
<div class="container">
    <table class="row">
    <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        <img class="quydinh-img" src="@Html.DisplayFor(modelItem => item.imageURL)" style="width: 200px; height: 150px;"/>
                    </td>
                    <td onclick="redirectToDetails('@item.Id')" style="cursor: pointer;">
                        @Html.DisplayFor(modelItem => item.TenQuyDinh)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
</div>
