@model IEnumerable<DoAnCoSo.Models.tbQuyDinh>



<p>
    <h1>Quy Định
    <a asp-action="Create">Create New</a>
    </h1>
</p>

<script>
    function redirectToDetails(Id) {
        window.location.href = "/Admin/QuyDinhs/Details/" + Id;
    }
</script>

<style>
    .container {
        display: flex;
        justify-content: center; /* Căn đỉnh đường viền bảng ra giữa theo chiều ngang */
        align-items: center; /* Căn giữa đường viền bảng theo chiều dọc */
         /* Đặt chiều cao của container bằng 100% chiều cao của viewport */
    }
    h1{
        text-align: center;
    }

    .row{
        /* --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0; */
        display: flex;
        flex-wrap: wrap;
        /* margin-top: calc(var(--bs-gutter-y)* -1);
        margin-right: calc(var(--bs-gutter-x)* -.5);
        margin-left: calc(var(--bs-gutter-x)* -.5); */
        border: 0.1vw solid #ffffff;
        width: 80vw;
    }
</style>
<div class="container">
    <table class="row">
    @* <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenQuyDinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoiDungQuyDinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imageURL)
            </th>
        </tr>
    </thead> *@
    <tbody>
        @foreach (var item in Model) {
                <tr>
                    @* <td>
                        @Html.DisplayFor(modelItem => item.TenQuyDinh)
                    </td> *@
                    <td>
                        <img class="quydinh-img" src="@Html.DisplayFor(modelItem => item.imageURL)" style="width: 200px; height: 150px;"/>
                    </td>
                    <td onclick="redirectToDetails('@item.Id')" style="cursor: pointer;">
                        @Html.DisplayFor(modelItem => item.TenQuyDinh)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
</div>
