 @model IEnumerable<DoAnCoSo.Models.tbCuocThi>
@using DoAnCoSo.Models

@{
    ApplicationDbContext context = new ApplicationDbContext();
    string LayTenLoaiTruong (int? loaiTruongId)
    {
        var tenLoaiTruong = context.tbLoaiTruong.FirstOrDefault(p => p.Id == loaiTruongId);
        if (tenLoaiTruong == null)
            return "";
        return tenLoaiTruong.TenLoaiTruong;
    }
}
<style>
    .school-list {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

        .school-list h1 {
            color: black;
            margin-bottom: 20px;
        }

    .add-sort {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 3px;
    }
        .school-list a.add-button {
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
        }

            .school-list a.add-button:hover {
                background-color: #0056b3;
            }

        .school-list table {
            width: 100%;
            margin-top: 20px;
            background-color: #fff;
            border-collapse: collapse;
        }

            .school-list table th {
                background-color: #007bff;
                color: #fff;
                padding: 10px;
                text-align: left;
            }

            .school-list table td {
                padding: 10px;
                border-bottom: 1px solid #ddd;
            }

                .school-list table td a.edit-link {
                    background-color: #007bff;
                    color: #fff;
                    padding: 5px 10px;
                    text-decoration: none;
                    border-radius: 5px;
                }

                    .school-list table td a.edit-link.btn-danger {
                        color: #fff;
                        background-color: #dc3545;
                    }

                    .school-list table td a.edit-link:hover {
                        background-color: #0056b3;
                    }
</style>

<div class="school-list">
    <h1><i class="fas fa-trophy"></i> CUỘC THI</h1>
    <div class="add-sort">
        <p>
            <a class="add-button btn btn-primary" asp-area="Admin" asp-controller="CuocThis" asp-action="Create">Tạo cuộc thi</a>
        </p>


        <select id="sort-box">
            <option value="all">Tất cả cuộc thi</option>
            <option value="upcoming">Cuộc thi sắp tới</option>
            <option value="past">Cuộc thi đã qua</option>
        </select>
    </div>

    <table id="cuocThiTable" class="table">
        <thead>
            <tr>
                <th>Tên cuộc thi</th>
                <th>Ngày Thi/Giờ Thi</th>
                <th>Số Lượng</th>
                <th>Địa Điểm</th>
                <th>Môn Thi</th>
                <th>Cấp học</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var rowClass = "";

                // Kiểm tra xem item đó thuộc loại nào và thiết lập class cho hàng
                if (DateTime.Now < item.NgayThi)
                {
                    rowClass = "upcoming";
                }
                else
                {
                    rowClass = "past";
                }
                <tr class="@rowClass">
                    <td>
                        @Html.DisplayFor(modelItem => item.TenCuocThi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayThi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoLuongThiSinh)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiaDiem)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MonThi.TenMonThi)
                    </td>
                    <td>
                        @LayTenLoaiTruong(item.LoaiTruongId)
                    </td>
                    <td>
                        <a class="edit-link btn btn-primary" asp-area="Admin" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="edit-link btn btn-primary" asp-area="Admin" asp-action="Details" asp-route-id="@item.Id">Deatils</a>
                        @if (item.TrangThai == 0)
                        {
                            <a class="edit-link btn btn-danger" asp-area="Admin" asp-controller="CuocThis" asp-action="AnHien" asp-route-id="@item.Id">
                                Ẩn
                            </a>
                        }
                        else
                        {
                            <a class="edit-link btn btn-primary" asp-area="Admin" asp-controller="CuocThis" asp-action="AnHien" asp-route-id="@item.Id">
                                Hiện
                            </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const sortBox = document.getElementById("sort-box");
            const cuocThiTable = document.getElementById("cuocThiTable");

            sortBox.addEventListener("change", function () {
                const selectedOption = sortBox.value;
                const rows = cuocThiTable.querySelectorAll("tbody tr");

                rows.forEach(row => {
                    switch (selectedOption) {
                        case "all":
                            row.style.display = "table-row";
                            break;
                        case "past":
                            if (!row.classList.contains("past")) {
                                row.style.display = "none";
                            } else {
                                row.style.display = "table-row";
                            }
                            break;
                        case "upcoming":
                            if (!row.classList.contains("upcoming")) {
                                row.style.display = "none";
                            } else {
                                row.style.display = "table-row";
                            }
                            break;
                    }
                });
            });
        });
    </script>
}

