@model DoAnCoSo.Models.tbPhieuKetQua

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>tbPhieuKetQua</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhieuDangKy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhieuDangKy.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Giay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Giay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
