@model IEnumerable<DoAnCoSo.Models.tbChiTietQuyDinh>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên Cuộc Thi: 
            </th>
            <th>
                Tên Quy Định:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CuocThi.TenCuocThi)
            </td>
                <td onclick="redirectToDetails('@item.QuyDinhId')" style="cursor: pointer;  text-decoration: underline; color: #007bff;">
                @Html.DisplayFor(modelItem => item.QuyDinh.TenQuyDinh)
            </td>
            <td>
                @* <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> | *@
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


<script>
    function redirectToDetails(Id) {
        window.location.href = "/Admin/QuyDinhs/Details/" + Id;
    }
</script>